html {
  font-family: 'Roboto', sans-serif;
}
header {
  position: absolute;
  height: 779px;
  width: 100vw;
  background-image: url(images/background.svg);
  background-size: cover;
}
body {
  margin: 0;
}
nav {
  position: relative;
  margin: 64px 5% 0 5%;
  height: 115px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-text {
  height: min-content;
  justify-content: center;
  align-items: center;
}

.nav-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: min-content;
}
.nav-cell {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: min-content;
}
.arrow {
  margin-left: 10px;
  height: 7px;
  width: 14px;
}

.logo {
  margin: auto 0 auto 54px;
  height: 65px;
  width: 155px;
}

.social-media-logos {
  display: flex;
  gap: 18px;
  position: absolute;
  right: 53px;
  bottom: 19px;
}

.title {
  margin-left: 138px;
  margin-top: 126px;
  color: #2871b7;
  font-weight: 700;
}
.subtitle {
  font-weight: 400;
  margin-left: 138px;
  font-size: 25px;
  width: 671px;
}
h1 {
  margin: 0;
  line-height: 52px;
}
.button {
  display: grid;
  font-weight: 700;
  font-size: 18px;
  background: #cd5a83;
  color: #fff;
  border-radius: 5px;
  width: 302px;
  height: 49px;
  margin-left: 138px;
  justify-content: center;
  align-items: center;
}
